@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .gupter-medium {
    font-family: "Gupter", serif;
    font-weight: 800;
    font-style: normal;
  }

  /* .swiper-pagination-bullet
  {
    padding:1rem !important;
} */

.swiper-pagination-bullet-active {
 background-color: #B13481 !important;
}

/* Medium screens (tablets) */
@media (min-width: 641px) and (max-width: 768px) {
  .swiper-pagination-bullet {
    padding: 0.75rem; /* Padding for tablets */
  }
}

/* Large screens (desktops) */
@media (min-width: 769px) {
  .swiper-pagination-bullet {
    padding: 1rem; /* Padding for larger screens (desktops) */
  }
}